@if (media >= 7) {
    <p>aprovado, to muito trste com uma nottica dessas filho da puta</p>
}
@else if (media>= 5) { 
    <p> em analise</p>
}
@else if (media<5) { 
    <p> você envergonhou a sua familia</p>
}

@for (item of nomes; track $index) {
<p> {{$index}} - {{item}}</p>
}

@switch (lin) {
@case ('eng') { <p>ingles</p> }
@case ("por") { <p>portugues</p> }
@default {<p> é o fim dos tempos</p> }
}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>